html{
    scroll-behavior: smooth;
}

.main {

    background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
}




.home-section {

    background-image: url("/assets/image/fondodesk.png");
    background-repeat: no-repeat;
    background-position: center top;
    height: 1200px;

}

.div-contenedor {
width: 900px;
height: 1200px;
/*border: solid 1px #000;*/
margin-left: auto;
margin-right: auto;
display: grid;
grid-template-rows: 130px 1fr 90px 1fr 1fr 180px;
grid-template-columns: 250px 1fr 1fr 250px;

}


  
#item-0 {


   grid-row-start: 1;
   grid-column-start: 1;

   grid-row-end: 2;
   grid-column-end: 5;
   
}
#item-1 {

    
   grid-row-start: 4;
   grid-column-start: 2;

   grid-row-end: 6;
   grid-column-end: 4;
   justify-self: center;
   align-self: center;
}
#item-2 {

    
   grid-row-start: 3;
   grid-column-start: 1;

   grid-row-end: 4;
   grid-column-end: 5;
   
}
#item-3 {

    
   grid-row-start: 2;
   grid-column-start: 1;

   grid-row-end: 3;
   grid-column-end: 5;
   text-align: center;
}
#item-4 {

   

   grid-row-start: 4;
   grid-column-start: 1;

   grid-row-end: 6;
   grid-column-end: 2;
    justify-self: end;
   
}
#item-5 {

     
   grid-row-start: 4;
   grid-column-start: 4;

   grid-row-end: 6;
   grid-column-end: 5;
   align-self: center;
}
#item-6 {

   
   grid-row-start: 6;
   grid-column-start: 1;

   grid-row-end: 7;
   grid-column-end: 2;

   justify-self: center;
   
}
#item-7 {

   
   grid-row-start: 6;
   grid-column-start: 2;

   grid-row-end: 7;
   grid-column-end: 4;
   justify-self: center;
   margin-top: 10px;
}
#item-8 {

   
   grid-row-start: 6;
   grid-column-start: 4;

   grid-row-end: 7;
   grid-column-end: 5;
   justify-self: center;
}


.p1{
    color: white;
    font-size: 80px;
   
}
.p2 {
    color: #EF9919;
    font-size: 80px;
    font-weight: bold;
    }

    .subtitulo {
        color: white;
        font-size: 45px;
    }

    .foto {
   
        border-radius: 80px;
         width: 350px;
         height: 500px;
    
    }

    .caja1 {
    
        background-color: white;
        border-radius: 30px;
        width: 180px;
        height: 75px;
        text-align: center;
      
        
        -webkit-box-shadow: -1px 10px 4px -5px rgba(255,255,255,0.22);
        -moz-box-shadow: -1px 10px 4px -5px rgba(255,255,255,0.22);
        box-shadow: -1px 10px 4px -5px rgba(255,255,255,0.22);
        z-index: 10;
    }

    .negro {
    
        font-size: 22px;
        line-height: 45px;
      }
      
      
      .mostaza{
          color: #EF9919;
          font-size: 22px;
          line-height: 15px;
          font-weight: bold;
      }

      .link {
        width: 40px;
        height: 40px;
        
    }

    .div-link {
        text-align: center;
        line-height: 95px;
       
        background-color: white;
        width: 70px;
        height: 70px;
        border-radius: 50px;
       
      
    }

    .popa {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        bottom: 20px;
        background-color: #F9F5F2;
        height: 190px;
        width: 900px;
    
    }

    .popa p {
        font-size: 25px;
        font-weight: bold;
        color: #413F40;
        text-align: center;
        
        }
        
        .css-input {
            margin-left: 70px;
            padding: 15px;
            font-size: 20px;
          
            border-width: 0px;
            width: 760px;
            height: 50px;
            border-color: #CCCCCC;
            background-color: #F9F5F2;
            color: #2c2b2b;
            border-style: solid;
            border-radius: 15px;
            box-shadow: 0px 0px 4px rgba(66,66,66,.33);
            text-shadow: -50px 0px 30px rgba(255, 2, 2, 0);
        }
        
        
        .btn-listo {
            width: 200px;
            text-align: center;
            position: relative;
            left: 69.8%;
            bottom:48.5px;
            -webkit-border-radius: 28;
            -moz-border-radius: 28;
            border-radius: 28px;
            color: #ffffff;
            font-size: 18px;
            background: #197f5b;
            padding: 10px 20px 10px 20px;
            text-decoration: none;
          }
        
          .estudiotitulo{
            text-align: center;
            font-size: 50px;
            font-weight: semi-bold;
            color: #413F40;
        }
        
        .estudios {
            display:flex;
            
           justify-content: center;
        
        }

        .estudios1 {
            background-color: #F9F5F2;
            height: 350px;
            width: 400px;
            margin: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .estudios1 img{
            width: 100px;
            height: 130px;
        }
        .estudios1 h3 {
            color: #413F40;
        }

        .parr {
            color: #413F40;
        }
        
        .estudios2 {
            background-color: #F9F5F2;
            height: 350px;
            width: 400px;
            margin: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .estudiosimg2{
            width: 100px;
            height: 130px;
            margin: -18px;
        }
        .estudios2 h3 {
            color: #413F40;
        }

        .section2 {
            padding: 0px 150px;
            }
            
            .section2 h2 {
            
                font-size: 50px;
                font-weight: semi-bold;
                color: #413F40;
            }
            
            .parracerca {
                padding-left: 30px;
                border-left: solid #197F5B;
                font-size: 20px;
                font-weight: regular;
                text-align: justify;
            }
            
            .myButton {
                color:#ffffff;
                text-decoration:none;
                padding-right: 20px;
               
            
            }
            
            .cv {
                display: flex;
              justify-content: space-around;
              align-items: center;
               background-color:#197f5b;
                border-radius:28px;
                border:1px solid #197f5b;
                width: 220px;
                height: 55px;
                line-height: 42px;
                margin-left: auto;
                margin-right: auto;
                
                   
            }
            

            .prueba {

                background-image: url(/assets/image/iconos/arrow.svg);
                background-repeat: no-repeat;
                height: 20px;
                width: 20px;
                margin-left: 10px;
                filter: invert(100%) sepia(0%) saturate(7450%) hue-rotate(327deg) brightness(134%) contrast(94%);
            
               
            }




            .habilidades h2 {

                text-align: center;
                font-size: 50px;
                font-weight: semi-bold;
                color: #413F40;
                
            }
            
            .div-habilidades {
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                
                width: 820px;
                margin: 0 auto;
                gap: 22px;
                
            
            }
            
            .habp {
                color: #413F40;
                font-size: 22px;
                font-weight: bold;
            }
            
            
            .progressweb {
                
                border-radius: 10px;
                width: 820px;
               
            }
            .progressweb::-webkit-progress-bar {
            
                background: #93d4bd;
                border-radius: 10px;
                
                }
            
                .progressweb::-webkit-progress-value {
            
                    background: #197F5B;
                    border-radius: 10px;
                    
                    }

                    .porhabi {

                        color:#197F5B; 
                        font-weight: normal;
                        margin-left: 395px;
                        font-size: 18px;
                    }
            
                    .porhabi2 {
            
                        color:#197F5B; 
                        font-weight: normal;
                        margin-left: 650px;
                        font-size: 18px;
                    }
            
                    .porhabi3 {
            
                        color:#197F5B; 
                        font-weight: normal;
                        margin-left: 480px;
                        font-size: 18px;
                    }
            
                    .porhabi4 {
            
                        color:#197F5B; 
                        font-weight: normal;
                        margin-left: 460px;
                        font-size: 18px;
                    }

                    .experiencia h2 {
           
                        text-align: center;
                        font-size: 50px;
                         font-weight: semi-bold;
                        color: #413F40;
                        
                    }
            
                    .experiencia {
                        background-color: #F9F5F2;
                        height: 480px;
                        width: 90%;
                        margin-left: auto;
                        margin-right: auto;
                    }
            
            
                   
            
            .interactive{
                width: 180px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            
            .imagenwi {
                width: 150px;
                height: 150px;
                margin-bottom: -20px;
             
            }
            
            .exptext {
               
               font-size: 25px;
               font-weight: semi-bold;
                color: #413F40;
            }
            
            .anual {
                font-size: 25px;
                color: #413F40;
                font-weight: bolder;
            }
            
            
            .experiencia-div {
                display: flex;
                justify-content: space-around;
            }

            .porta {
                height: 444px;
                width: 400px;
            }
            
            .portafolio-img{
            
                display: flex;
                justify-content: space-around;
            }
            
            .portafolio-img{
            padding: 0 20px;
            
            }
            

            #webdev {
                text-align: center;
            }

            .div-contacto {
                text-align: center;
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: 100%;
                width: 100%;
            }
            
            
            .imgcontacto {
            height: 80px;
            width: 80px;
            box-sizing: content-box;
            background-color: #F9F5F2;
            border: solid 40px #F9F5F2;
            border-radius: 80px;
            }
            
            .titu {
            font-size: 20px;
            font-weight: bold;
            color: #413F40;
            
            }
            
            
            .dato {
                font-size: 20px;
                color: #a9a1a1;
            }

            .footer{
                background-color: #197F5B;
                height: 120px;
                width: 100%;
                display: flex;
                text-align: center;
                flex-direction: column;
                justify-content: flex-end;
                
            }
            
            .nom {
            color: white;
            font-size: 20px;
            }
            
            .derechos {
                color: white;
                font-size: 12px;
            }
            
            .a1 {
            color: #EF9919;
            
            
            }
            
            section[id]{
            
                scroll-margin-top: 80px;
            }

            .form {
               background-color: #F9F5F2;;  
               width: 90%;
               max-width: 600px;  
               border-radius: 1em; 
               margin: 0 auto;
                padding: 3.5em 1.5em;
            }

.form-container {
width: 100%;
display: grid;
gap: 1em;
grid-auto-columns: 100%;
}

.h3-contactame{
text-align: center;
font-size: 1.9rem;
margin-bottom: .4em;
}

.form-input {
font-size: 1rem;
padding: .8em 1em;
outline: none;
border: none;
border: 1px solid rgb(131, 130, 130);
border-radius: 0.2em;
}

.form-input-mensaje {

    resize: none;
    padding: 1.8em 1em;
    margin-bottom: 0.5em
}

.envia {
    font-size: 1rem;
    background-color: #197F5B;
    color: white;
    border: none;
    font-weight: 400;
    padding: .7em 0;
    border-radius: 0.2em;
    cursor: pointer;
}

.redes-sociales {

    margin: 0 500px;
    margin-bottom: 18px;
  display: flex;
  justify-content:space-around;



}

.iconosred{
    height: 35px;
    width: 35px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(108deg) brightness(104%) contrast(104%);
  
}


.animacio {
display: block;
white-space: nowrap;
border-right: 4px solid;
width: 86ch;
animation: typing 2s steps(86), blink .5s infinite step-end alternate;
overflow: hidden;
}

@keyframes typing {
    from { width: 0; }
}

@keyframes blink {
50% {border-color: transparent;}

}

.div-link:hover {
    
background-color: #EF9919;

    
}

/*MENU HAMBURGUESA*/

.button {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    display: none;
    cursor: pointer;
    }


    @media (max-width: 768px) {


        .header {
            height: 60px;
                       
            }

            .ul {
            flex-direction: column;
            background-color: #2c3e50;
            position: fixed;
            left: 0;
            top: 60px;
            width: 100%;
            align-items: center;
            padding: 0;
            height: calc(100% - 60px);
            overflow-y: auto;

            left: 100%;
            transition: left 0.3s;
            }

            .li {
                line-height: 70px;

            }
            .button {
                display: block;

            }
            
            .activarboton{
               left: 0;
                
                
            }

            .home-section {

                background-image: url("/assets/image/Estructurahome mobile.png");
                background-repeat: no-repeat;
                background-position: center top;
                
            
            }
            
            .div-contenedor {
                width: 500px;
                height: 600px;
                border: solid 1px #000;
                margin-left: auto;
                margin-right: auto;
                display: grid;
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                
                }
                
                
                  
                #item-0 {
                
                    border: solid 1px #000;
                   grid-row-start: 1;
                   grid-column-start: 1;
                
                   grid-row-end: 2;
                   grid-column-end: 5;
                   
                }
                #item-1 {
                
                    border: solid 1px #000;
                   grid-row-start: 4;
                   grid-column-start: 2;
                border: solid 1px #000;
                   grid-row-end: 6;
                   grid-column-end: 4;
                   justify-self: center;
                   align-self: center;
                }
                #item-2 {
                
                    border: solid 1px #000;
                   grid-row-start: 3;
                   grid-column-start: 1;
                
                   grid-row-end: 4;
                   grid-column-end: 5;
                   
                }
                #item-3 {
                
                    border: solid 1px #000;
                   grid-row-start: 2;
                   grid-column-start: 1;
                
                   grid-row-end: 3;
                   grid-column-end: 5;
                   text-align: center;
                }
                #item-4 {
                
                   
                    border: solid 1px #000;
                   grid-row-start: 4;
                   grid-column-start: 1;
                
                   grid-row-end: 6;
                   grid-column-end: 2;
                    justify-self: end;
                   
                }
                #item-5 {
                
                    border: solid 1px #000;
                   grid-row-start: 4;
                   grid-column-start: 4;
                
                   grid-row-end: 6;
                   grid-column-end: 5;
                   align-self: center;
                }
                #item-6 {
                
                    border: solid 1px #000;
                   grid-row-start: 6;
                   grid-column-start: 1;
                
                   grid-row-end: 7;
                   grid-column-end: 2;
                
                   justify-self: center;
                   
                }
                #item-7 {
                
                    border: solid 1px #000;
                   grid-row-start: 6;
                   grid-column-start: 2;
                
                   grid-row-end: 7;
                   grid-column-end: 4;
                   justify-self: center;
                   margin-top: 10px;
                }
                #item-8 {
                
                    border: solid 1px #000;
                   grid-row-start: 6;
                   grid-column-start: 4;
                
                   grid-row-end: 7;
                   grid-column-end: 5;
                   justify-self: center;
                }


            .p1{
                color: white;
                font-size: 32px;
               
            }
            .p2 {
                color: #EF9919;
                font-size: 32px;
                font-weight: bold;
                }
            
                .subtitulo {
                    color: white;
                    font-size: 45px;
                }
          
                .animacio { 
                    display: none;
                }

        }