.home-section {
position: relative;
z-index: 10;

}

.main {
    background-color: #F8F8FF;
}

.home-section p {
text-align: center;
line-height: 30px;
padding: 20px 0;
font-size: 40px;
font-weight: bolder;
color: #190F3B;
text-shadow: 2px 2px 2px #5EB3FA;
}

.ism-slider {
    /*height: 500px;*/
    height: 34rem !important; 
    
    }

    .ism-slider img {
        height: 34rem;
    }

    .boton-descubrir{
        display: block;
        width: 300px;
        height: 60px;
        margin:  20px auto;
        
        -webkit-border-radius: 28;
        -moz-border-radius: 28;
        border-radius: 28px;
        -webkit-box-shadow: 4px 3px 12px #666666;
        -moz-box-shadow: 4px 3px 12px #666666;
        box-shadow: 4px 3px 12px #666666;
        font-family: Georgia;
        color: #ffffff;
        font-size: 20px;
        background: #190F3B;
        padding: 8px 20px 10px 20px;
        text-decoration: none;
        cursor: pointer;
        
      }



      .boton-descubrir:hover {
        background: #3cb0fd;
        background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
        background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
        text-decoration: none;
      }


   .productos-titulo {

    text-align: center;
line-height: 30px;
padding: 40px 0;
font-size: 40px;
font-weight: bolder;
color: #190F3B;
text-shadow: 2px 2px 2px #5EB3FA;
   }

      .ul-productos {
          

list-style: none;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
grid-template-rows: 80px;
gap: 15px;
text-align: center;

}

.li-p > * {
    color: #190F3B;
    


}


.li-p > h3:hover {
color: #3498db;


}

.li-p {
border-left: 2px solid #190F3B;
align-self: center;
cursor: pointer;

}



.productos-contenedor {
          display: block;
          margin:  0 10%;

}

.grid-productos {

display: grid;
grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
gap: 15px;
text-align: center;
}

.image-producto {
    width: 200px;
}

.stock-producto {
    font-size: 12px;
}

.img-producto {

    grid-row-start: 1;
   grid-column-start: 1;

   grid-row-end: 3;
   grid-column-end: 5;
background-color: #dedcdc;
border-radius: 15px 15px 0 0;

}
.desc-producto {
    grid-row-start: 4;
    grid-column-start: 1;
 
    grid-row-end: 6;
    grid-column-end: 5;

   
background-color: white;

border-radius: 0 0 20px 20px;
}

.agregar-carrito {
    grid-row-start: 3;
    grid-column-start: 4;
 
    grid-row-end: 4;
    grid-column-end: 5;
    
    background-color: transparent;
    border: none;
    font-size: 35px;
       
    border-radius: 50%;
    position: relative;
    bottom: 21px;
cursor: pointer;
    
}

.producton {

    display: grid; 

   grid-template-rows: 1fr 1fr 10px 1fr 50px;
   grid-template-columns: 1fr 1fr 1fr 1fr;
}

section[id]{
            
    scroll-margin-top: 80px;
}


.detalle-menu-carrito {
/*display: grid;
height: auto;*/
display: flex;
flex-direction: column;
justify-content: center;
/*overflow: scroll;*/

}



/*CLASES CREADAS PARA EL CARRITO*/

.contenedor-producto-carrito {
display: flex;
justify-content: space-around;
align-items: center;

}

.imagen-producto-carrito {
width: 170px;
height: 155px;

border-top: 1px solid white;
border-bottom: 1px solid white;

}

.desc-producto-carrito {
   
    width: 170px;
    height: 155px; 
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    
}

.boton-mas {
    width: 25px;
    height: 25px;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
	
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 6px;
}

.boton-mas:hover {
    background-color:#bfffb7;
}

.boton-menos {
    width: 25px;
    height: 25px;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
	
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 6px;
}
.boton-menos:hover {
    
	background-color:#f89393;
}

.numero-unidades{
margin-bottom: 8px;
}

.borrar-producto {
    background-color: rgb(221, 158, 158);
    border-radius: 5px;
    border: 1px solid rgb(159, 160, 160);
    cursor: pointer;
}

.borrar-producto:hover {
    background-color: #fb6d6d;
    
}

.total-menu-carrito p {
    font-size: 30px;
    text-align: right;

}

.montototal {
    font-weight: bold;
}

.subtotal {
    color: crimson;
    font-weight: bold;
}

.fa-solid:hover{
color: #5EB3FA;
}


.alert {
    width: 100%;
    height: 50px;
    position: sticky;
    top: 80px;
    color: #491217;
    background-color: #F8D7DA;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
   
    z-index: 30;
   
}

.alert2 {
    width: 100%;
    height: 50px;
    position: sticky;
    top: 85px;
    left: 100%;
    color: #491217;
    background-color: #F8D7DA;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    z-index: 100;
   
}


.hide {
   
    display: none;
    
}


.containeer {
    background-color: #F8F8FF;
    position: fixed;
    width: 100%;
    height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 100;
   
   
}

.hiden {
    display: none;
}




.spinner {
    position: relative;
    width: 16px;
    height: 16px;
   }
   
   .spinner div {
    width: 100%;
    height: 100%;
    background-color: #004dff;
    border-radius: 50%;
    animation: spinner-4t3wzl 1.25s infinite backwards;
   }
   
   .spinner div:nth-child(1) {
    animation-delay: 0.15s;
    background-color: rgba(0,77,255,0.9);
   }
   
   .spinner div:nth-child(2) {
    animation-delay: 0.3s;
    background-color: rgba(0,77,255,0.8);
   }
   
   .spinner div:nth-child(3) {
    animation-delay: 0.45s;
    background-color: rgba(0,77,255,0.7);
   }
   
   .spinner div:nth-child(4) {
    animation-delay: 0.6s;
    background-color: rgba(0,77,255,0.6);
   }
   
   .spinner div:nth-child(5) {
    animation-delay: 0.75s;
    background-color: rgba(0,77,255,0.5);
   }
   
   @keyframes spinner-4t3wzl {
    0% {
     transform: rotate(0deg) translateY(-200%);
    }
   
    60%, 100% {
     transform: rotate(360deg) translateY(-200%);
    }
   }